<div class="sections_box">

  <div class="navigation">
    <ul>
      <li class="active"><a href="#o_diagrama_de_nolan">The Nolan Chart</a></li>
      <li><a href="#entendendo_as_variaveis">Understanding the variables</a></li>
      <li><a href="#os_grandes_grupos_politicos">The major political groups</a></li>
      <li><a href="#debate_em_torno_do_diagrama">Debates about the chart</a></li>
      <li><a href="#quem_foi_david_nolan">Who was David Nolan</a></li>
    </ul>
  </div>

  <ul class="sections">
    <li class="active">
      <h3><a name="o_diagrama_de_nolan">The Nolan Chart</a></h3>

      <blockquote>
        Não acredito que faça muito sentido tentar analisar a política do século
        21 usando um modelo desenvolvido para descrever a organização dos assentos
        do Parlamento Francês de 220 anos atrás - <em>David Nolan, ativista e cientista político.</em>
      </blockquote>

      <p>Throughout the past century, the political position was still divided
      between left and right groups. A single line with only two groups and more
      or less radical variations to either side.</p>

      <p>As a libertarian, David Nolan, a political scientist graduated at the
      Massachusetts Institute of Technology (MIT), believed that this type of
      representation wasn’t able to demonstrate the ideological diversity
      efficiently. He thought, then, on a new model to add more positions and
      place visually, in detail, the thought of every major political group.</p>
    </li>

    <li>
      <h3><a name="entendendo_as_variaveis">Understanding the variables</a></h3>

      <p>The political debate can be understood primarily as discussions about
      the role and management of the state. For Nolan, the fundamental
      divergence between the opinions relate to the quantity and the target of
      government control over human activity. In this sense, trends to regulate
      or deregulate is what differentiates one group from another.</p>

      <p>Considering that government restrictions can be performed in parallel
      on two areas, Nolan created his methodology using two categories: economic
      activity and personal activity, represented in specific axes of the graph.
      The amount of defended regulations drives the displacement throughout the
      diagram, from total freedom to total restriction.</p>

      <ul>
        <li><strong>Economic area</strong>: all activity and commercial
        relationship between producer and consumer, ranging from freedom of
        investment to the way each person can spend their money.</li>

        <li><strong>Personal area</strong>: questions about interpersonal
        relationships or of intimacy, ranging from expression of opinion or
        religious belief to what each person can do with their own body.</li>
      </ul>

      <p>Each of these areas is considered independently, so it can have freedom
      in one area and extreme restrictions in the other. Therefore, the
      questionnaire used to assess the ideological bias has questions about
      various aspects of each group, without mixing them.</p>
    </li>

    <li>
      <h3><a name="os_grandes_grupos_politicos">The major political groups</a></h3>

      <p>From the location on the chart, there was a rating of four major
      groups, which may have subdivisions, mainly inter-relational.</p>

      <p>Insofar as the diagram became known, naming variations for each group
      started to arise. Here, we use the original nomenclature proposed by
      Nolan.</p>

      <ul>
        <li><strong>Right</strong>: favors high level of economic freedom, but
          not of individual liberties.</br>
          (eg defense of anti-drug laws and tax cuts)
        </li>

        <li><strong>Left</strong>: favors restrictions on the economy, but
          advocates for personal liberties.<br />
          (eg defense of gay marriage and mandatory minimum wage)
        </li>

        <li><strong>Libertarianism</strong>: favors freedom in both the economy
          and personal life.<br />
          (eg defense of facultative vote and free trade)
        </li>

        <li><strong>Statism</strong>: favors government intervention both in the
          economy and personal lives.<br />
          (eg defense of mandatory military enlistment and the state manager)
        </li>
      </ul>

      <p>There is still the moderate or centrist, characterized by the balance
      between intervention and freedom.</p>
    </li>

    <li>
      <h3><a name="debate_em_torno_do_diagrama">Debates about the chart</a></h3>

      <p>Most debates on the Nolan Chart revolve around the names of the groups,
      in addition to identifying the opponent for each classification. After
      all, what would be the opposite of "Libertarian"? However, the question
      does not fall in discussing the applicability of the model.</p>

      <p>In this sense, the main question lies with how the questions are asked.
      Some authors suggest that only 10 questions would not be sufficient to
      define the political position of each person and, moreover, that its
      structure was biased in favor of libertarians. As the question is valid,
      it is necessary to further this point.</p>

      <p>To diagnose the position of the participant, the questions are asked on
      key themes, which expose the foundations of his political thought. To make
      the test more accessible and dynamic, the questions are held indirectly.
      The way the questionnaire is structured requires the respondent to make
      assessments, relatively dispersed, using his more deeply rooted method of
      reasoning, that is, the same that drives their prejudices and worldviews.
      This procedure increases the credibility of the test. The questions
      require an objective approach and the exposure of a clear view, but which
      can only be drawn from the subjective assessment of the political and
      philosophical principles that guide the thinking of the participant.</p>

      <p>Thus, the Nolan Chart is undoubtedly an important method for
      classification of personal thoughts and theoretical foundations. And not
      just to set the political position of third parties, but also to help
      individual training, objectively demonstrating the result of
      pre-conceptions allied to rational assessments on various subjects which,
      in their roots, are politically related.</p>
    </li>

    <li>
      <h3><a name="quem_foi_david_nolan">Who was David Nolan</a></h3>

      <p>David Fraser Nolan was a graduated political scientist from the
      Massachusetts Institute of Technology (MIT). Throughout his life, Nolan
      became involved with the libertarian cause in the U.S., participating in
      political groups such as the "Young Americans for Freedom", which was
      founded in 1960. During Richard Nixon’s hardening of the government's
      economic interventionism, Nolan organized and aggregated groups of
      libertarians around the cause, founding the U.S. Libertarian Party
      (LibertarianParty) in 1971.</p>
    </li>
  </ul>

</div>
