<p>
  Do you believe that is important to show that political positions go beyond the fight between right
  and left? So, make a donation and help us to spread Nolan’s Chart idea.
</p>

<p>
  Send an email to <a href="mailto:contato@estudantespelaliberdade.com.br">contato@estudantespelaliberdade.com.br</a>.
</p>
