<p>Libertarians defend maximum personal and economic liberty. They advocate a
very small government (or even its absence), which is limited to protecting
individuals from the initiation of aggression. Libertarians tend to agree with
individual responsibility, </p>

<h3>Grandes nomes do Libertarianismo</h3>

<div id="result_banner">
  <ul>
    <li><a class="class_click" href="http://en.wikipedia.org/wiki/Ayn_Rand" target="_blank">
      <span class="image">
        <img src="/assets/persons/rand.png" alt="Ayn Rand" width="123" height="170" />
      </span>
      <span class="legend">Ayn Rand</span>
    </a></li>

    <li><a class="class_click" href="http://en.wikipedia.org/wiki/Ron_Paul" target="_blank">
      <span class="image">
        <img src="/assets/persons/paul.png" alt="Ron Paul" width="123" height="170"  />
      </span>
      <span class="legend">Ron Paul</span>
    </a></li>

    <li><a class="class_click" href="http://en.wikipedia.org/wiki/Friedrich_Hayek" target="_blank">
      <span class="image">
        <img src="/assets/persons/hayek.png" alt="Friedrich Hayek" width="123" height="170"  />
      </span>
      <span class="legend">Friedrich Hayek</span>
    </a></li>

    <li><a class="class_click" href="http://en.wikipedia.org/wiki/Henry_David_Thoreau" target="_blank">
      <span class="image">
        <img src="/assets/persons/thoreau.png" alt="Henry David Thoreau" width="123" height="170"  />
      </span>
      <span class="legend">Henry David Thoreau</span>
    </a></li>
  </ul>

  <p class="controls">
    <span class="before">Before</span>
    <span class="after">Next</span>
  </p>
</div>

<h3>More information about Libertarianism</h3>

<h4 class="articles">Suggested articles</h4>

<ul>
  <li><a class="class_click" href="http://www.mises.org.br/Article.aspx?id=1263" target="_blank">Qual o tamanho ideal e a função adequada do estado?</a></li>
  <li><a class="class_click" href="http://www.mises.org.br/Article.aspx?id=146" target="_blank">Os libertários e o estado</a></li>
</ul>

<h4 class="books">Suggested books</h4>

<ul class="book_list">
  <li><a class="class_click" href="http://www.libertarianismo.org/livros/aedl.pdf" target="_blank">
    <span class="image"><img src="/assets/books/as_engrenagens_da_liberdade.png" alt="As Engrenagens da Liberdade" height="75" width="50" /></span>
    <span class="title">As Engrenagens da Liberdade</span>
    <span class="author">David D. Friedman</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/As%20Seis%20Li%C3%A7%C3%B5es%20MISES%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/as_seis_licoes.png" alt="As Seis Lições" height="75" width="50" /></span>
    <span class="title">As Seis Liçoes</span>
    <span class="author">Ludwig von Mises</span>
  </a></li>

  <li><a class="class_click" href="http://www.erealizacoes.com.br/ecom/produtos_descricao.asp?lang=pt_BR&codigo_produto=1347" target="_blank">
    <span class="image"><img src="/assets/books/o_fim_do_fed.png" alt="O Fim do FED" height="75" width="50" /></span>
    <span class="title">O Fim do FED</span>
    <span class="author">Ron Paul</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/A%20Lei%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/a_lei.png" alt="A Lei" height="75" width="50" /></span>
    <span class="title">A Lei</span>
    <span class="author">Frédéric Bastiat</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/economia%20numa%20unica%20li%C3%A7ao%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/economia_numa_unica_licao.png" alt="Economia Numa Única Lição" height="75" width="50" /></span>
    <span class="title">Economia Numa Única Lição</span>
    <span class="author">Henry Hazlitt</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/Contra%20a%20Propriedade%20Intelectual%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/contra_a_propriedade_intelectual.png" alt="Contra a Propriedade Intelectual" height="75" width="50" /></span>
    <span class="title">Contra a Propriedade Intelectual</span>
    <span class="author">Stephan Kinsella</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/A%20anatomia%20do%20estado.pdf" target="_blank">
    <span class="image"><img src="/assets/books/a_anatomia_do_estado.png" alt="A Anatomia do Estado" height="75" width="50" /></span>
    <span class="title">A Anatomia do Estado</span>
    <span class="author">Murray N. Rothbard</span>
  </a></li>
</ul>

<h4 class="video">Video</h4>

<p>
    <iframe width="400" height="233" src="http://www.youtube.com/embed/KhGbdh0d1SY" frameborder="0" allowfullscreen></iframe>
</p>
