Esta obra é licenciada sob uma licença <a href="http://creativecommons.org/licenses/by/3.0/br/" targeft="_blank">Creative Commons Atribuição 3.0 Brasil</a>.

Este projeto é uma iniciativa do <a href="http://www.estudantespelaliberdade.com.br" target="_blank">Estudantes Pela Liberdade</a>, uma organização apartidária formada por jovens comprometidos com a promoção, a partir da Academia, de uma ordem social harmônica, justa e livre, ancorada no respeito às liberdades individuais, à propriedade privada e à vida humana.
