<h2>Alterar senha</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="inputs">
    <%= f.input :password, :label => "Nova senha", :required => true %>
    <%= f.input :password_confirmation, :label => "Confirme sua nova senha", :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Alterar senha" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>

