<%= content_for :content do %>
  <h2>Nova senha</h2>

  <%= simple_form_for(resource, :as => resource_name,
    :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.error_notification %>

    <% if flash[:alert] %>
      <div class="error"><%= flash[:alert] %></div>
    <% end %>

    <div class="inputs">
      <%= f.input :email, :required => true %>
    </div>

    <div class="actions">
      <div class="links">
        <%= render :partial => "devise/shared/links" %>
      </div>

      <%= f.button :submit, 'Enviar instruções' %>
    </div>
  <% end %>
<% end %>
