<div class="sections_box">

  <div class="navigation">
    <ul>
      <li class="active"><a href="#o_diagrama_de_nolan">O Diagrama de Nolan</a></li>
      <li><a href="#entendendo_as_variaveis">Entendendo as variáveis</a></li>
      <li><a href="#os_grandes_grupos_politicos">Os grandes grupos políticos</a></li>
      <li><a href="#debate_em_torno_do_diagrama">Debates em torno do Diagrama</a></li>
      <li><a href="#quem_foi_david_nolan">Quem foi David Nolan</a></li>
    </ul>
  </div>

  <ul class="sections">
    <li class="active">
      <h3><a name="o_diagrama_de_nolan">O Diagrama de Nolan</a></h3>

      <blockquote>
        Não acredito que faça muito sentido tentar analisar a política do século
        21 usando um modelo desenvolvido para descrever a organização dos assentos
        do Parlamento Francês de 220 anos atrás - <em>David Nolan, ativista e cientista político</em>
      </blockquote>

      <p>Ao longo do século passado, o posicionamento político ainda era dividido
      entre grupos de esquerda e direita. Uma única linha, com apenas dois grupos
      e variações mais ou menos radicais para qualquer um dos lados.</p>

      <p>Como libertário, David Nolan, cientista político formado pelo
      Massachussetts Institute of Technology (MIT), acreditava que esse tipo de
      representação não era capaz de demonstrar a diversidade ideológica de forma
      eficiente. Pensou, então, em um novo modelo capaz de agregar mais
      posicionamentos e situar visualmente, de maneira detalhada, o pensamento
      de cada grande grupo político.</p>
    </li>

    <li>
      <h3><a name="entendendo_as_variaveis">Entendendo as variáveis</a></h3>

      <p>O debate político pode ser entendido, basicamente, como discussões em
      torno da função e da gestão do estado. Para Nolan, a divergência fundamental
      entre as opiniões se relaciona à quantidade e ao alvo do controle
      governamental sobre a atividade humana. Neste sentido, tendências a
      regulamentação ou desregulamentação são o grande diferencial de um
      grupo para o outro.</p>

      <p>Considerando que as restrições do governo podem ser exercidas de modo
      paralelo sobre duas áreas, Nolan criou sua metodologia utilizando duas
      categorias: a atividade econômica e a atividade pessoal, representadas em
      eixos específicos do gráfico. A quantidade de regulamentação defendida
      conduz o deslocamento através do diagrama, do nível de  liberdade absoluta
      a restrição total.</p>

      <ul>
        <li><strong>Área econômica</strong>: toda atividade e relação comercial
        entre produtor e consumidor, abrangendo desde a liberdade de investimentos
        até a forma como cada pessoa pode gastar seu dinheiro.</li>

        <li><strong>Área pessoal</strong>: questões sobre relações interpessoais
        ou de foro íntimo, abrangendo desde expressão de opinião ou crença
        religiosa até o que cada pessoa pode fazer com seu corpo.</li>
      </ul>

      <p>Cada uma dessas áreas é considerada de modo independente, podendo haver
      liberdade em uma e restrições extremas na outra. Por isso, o questionário
      utilizado para avaliar a tendência ideológica tem perguntas sobre diversos
      aspectos de cada grupo, sem misturá-los.</p>
    </li>

    <li>
      <h3><a name="os_grandes_grupos_politicos">Os grandes grupos políticos</a></h3>

      <p>A partir da localização no gráfico, houve a classificação de quatro
      grandes grupos, que podem possuir subdivisões, essencialmente
      inter-relacionais.</p>

      <p>Na medida em que o Diagrama se tornou conhecido, começaram a surgir
      variações de nomenclatura para cada grupo. Aqui, utilizamos a nomenclatura
      original proposta por Nolan.</p>

      <ul>
        <li><strong>Direita</strong>: favorável a alto nível de liberdade
          econômica, mas não de liberdades individuais.</br>
          (ex.: defesa de leis anti-drogas e diminuição de impostos)
        </li>

        <li><strong>Esquerda</strong>: favorável a restrições na economia, mas
          defensor de liberdades pessoais.<br />
          (ex.: defesa do casamento gay e da obrigatoriedade do salário mínimo)
        </li>

        <li><strong>Libertarianismo</strong>: favorável a liberdade tanto na
          economia quanto na vida pessoal.<br />
          (ex.: defesa de voto facultativo e livre comércio)
        </li>

        <li><strong>Estatismo</strong>: favorável a intervenção governamental
          tanto na economia quanto na vida pessoal.<br />
          (ex.: defesa de alistamento militar obrigatório e do estado empresário)
        </li>
      </ul>

      <p>Ainda há os moderados ou centristas, caracterizados pelo equilíbrio entre
      intervenção e liberação.</p>
    </li>

    <li>
      <h3><a name="debate_em_torno_do_diagrama">Debates em torno do Diagrama</a></h3>

      <p>A maior parte dos debates acerca do Diagrama de Nolan gira em torno da
      denominação dos grupos. Além da identificação do oponente de cada
      classificação. Afinal, qual seria o oposto de “Libertário”?  No entanto, a
      pergunta não se insere na discussão sobre a aplicabilidade do modelo.</p>

      <p>Nesse sentido, o principal questionamento cabe à forma como as perguntas
      são feitas. Alguns autores sugerem que apenas 10 perguntas não seriam
      suficientes para definir o posicionamento político de cada pessoa e, além
      disso, que sua estruturação era tendenciosa a favor dos libertários.
      Como o questionamento é válido, faz necessário aprofundar esse ponto.</p>

      <p>Para diagnosticar o posicionamento do participante, as perguntas são
      feitas sobre temas-chave, que expõem os fundamentos de seu pensamento
      político. Para tornar o teste mais acessível e dinâmico, as perguntas são
      realizadas de forma indireta. O modo como o questionário é estruturado
      obriga o entrevistado a fazer avaliações, relativamente dispersas, usando
      seu método de raciocínio mais arraigado, ou seja, o mesmo que direciona
      seus preconceitos e concepções de mundo. Esse procedimento aumenta a
      credibilidade do teste. As perguntas obrigam uma abordagem objetiva e a
      exposição de uma opinião clara, mas que só pode ser formulada a partir da
      avaliação subjetiva dos princípios políticos e filosóficos que norteiam o
      raciocínio do participante.</p>

      <p>Deste modo, o Diagrama de Nolan é, sem dúvidas, um método importante
      para classificação de pensamentos e fundamentos teóricos pessoais. E não só
      para definir o posicionamento político de terceiros, mas também para ajudar
      na formação individual, demonstrando objetivamente o resultado de
      pré-conceitos aliados a avaliações racionais sobre assuntos diversos que,
      em suas raízes, se relacionam politicamente.</p>
    </li>

    <li>
      <h3><a name="debate_em_torno_do_diagrama">Debates em torno do Diagrama</a></h3>

      <p>David Fraser Nolan foi um cientista político formado pelo Massachussetts
      Institute of Technology (MIT). Ao longo de sua vida, Nolan se envolveu
      com a causa libertária nos EUA, participando de grupos políticos como o
      <em>"Young Americans for Freedom"</em>, que foi fundado em 1960. Durante
      endurecimento do intervencionismo econômico do governo de Richard Nixon,
      Nolan organizou e agregou grupos de libertários em torno da causa,
      fundando, em 1971, o Partido Libertário Americano
      (<em>Libertarian Party</em>).</p>
    </li>
  </ul>

</div>
