<%= content_for :content do %>
  <h2>Login</h2>

  <%= simple_form_for(resource,
    :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <% if flash[:alert] %>
      <div class="alert alert-error"><%= flash[:alert] %></div>
    <% end %>

    <div class="inputs">
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="actions">
      <div class="links">
        <%= render :partial => "devise/shared/links" %>
      </div>

      <%= f.button :submit, 'Entrar' %>
    </div>
  <% end %>

<% end %>

