//= require jquery
//= require jquery-ui
//= require jquery_ujs
//= require jquery.tokeninput
//= require jquery.bxSlider.min

var cityTokenInput;

$(document).ready(function() {
  if ($('#questionnaire_participant_city_token').length > 0) {
      cityTokenInput =
        $('#questionnaire_participant_city_token').tokenInput('/cities.json', {
            tokenLimit: 1,
            minChars: 3,
            resultsLimit: 15,
            searchDelay: 500,
            theme: 'facebook',
            hintText: 'Digite o nome da sua cidade.',
            noResultsText: 'Nenhuma cidade encontrada com esse nome.',
            searchingText: 'Buscando...',
            onAdd: function() {
              if (($('#questionnaire_participant_name').val() != '') &&
                  ($('#questionnaire_participant_email').val() != '')) {
                $('input[type=submit]').removeClass('inactive');
                $('input[type=submit]').addClass('active');
              }
            },
            onDelete: function() {
              $('input[type=submit]').removeClass('active');
              $('input[type=submit]').addClass('inactive');
            }
        });
    }
});

$(function () {
    $('#questionnaire .question_answers span').click(function () {
        $('span', $(this).parent()).removeClass('active');
        $('input', $(this).parent()).removeAttr('checked');
        $(this).addClass('active');
        $('input', $(this)).attr('checked', 'checked');

        if($('#questions_category_1 input[type=radio]:checked').size() == 5) {
          $('a.questions_category_1').removeClass('inactive');
        }

        if($('#questions_category_2 input[type=radio]:checked').size() == 5) {
          $('a.questions_category_2').removeClass('inactive');
        }
    });
});

$(function () {
    checkParticipantInfoValues();
    $('#questionnaire_participant_name, #questionnaire_participant_email').change(function () {
        checkParticipantInfoValues();
    });
});

function checkParticipantInfoValues() {
    var submit_inactive = false;

    if (cityTokenInput != undefined) {
        if(!$('input[type=submit]').hasClass('loading')) {
            var city_field_blank =
                !$('#participant_info .input.city').hasClass('hidden') &&
                cityTokenInput.tokenInput("get").length == 0;

            if (($('#questionnaire_participant_name').val() == '')  ||
                ($('#questionnaire_participant_email').val() == '') ||
                city_field_blank) {
                    submit_inactive = true;
            }
        }
    } else {
        if (($('#questionnaire_participant_name').val() == '')  ||
            ($('#questionnaire_participant_email').val() == '')) {
                submit_inactive = true;
        }
    }

    if(submit_inactive) {
        $('input[type=submit]').removeClass('active');
        $('input[type=submit]').addClass('inactive');
    } else {
        $('input[type=submit]').removeClass('inactive');
        $('input[type=submit]').addClass('active');
    }
}

$(function () {
    $('form.questionnaire').submit(function () {
        if ($('#participant_info .actions input').hasClass('inactive')) {
            return false;
        }

        return true;
    });
});

$(function () {
    $('#result_banner ul li a').live({
        mouseenter: function () {
            $('.legend', $(this)).fadeIn();
        },
        mouseleave: function () {
            $('.legend', $(this)).hide();
        }
    });
});

$(function () {
    $('#result_diagram .nolan_diagram .alert .close').live('click', function () {
        $('#result_diagram .nolan_diagram .alert').fadeOut(300);
        $('#result_diagram .result_score .civil_liberties,' +
          '#result_diagram .result_score .economic_freedom').fadeIn(300);
    });
});

$(function () {
    $('#main_navigation .share_item > a').click(function () {
        $('#main_navigation .share_item').toggleClass('active');
    });
});

$(function () {
    $('#main_navigation .lang_item > a').click(function () {
        $('#main_navigation .lang_item').toggleClass('active');
    });
});

$(function () {
    $('.sections_box .navigation li').click(function () {
        $('.sections_box .navigation li').removeClass('active');
        $(this).addClass('active');

        $('.sections_box .sections > li').removeClass('active');
        $($('.sections_box .sections > li')[$(this).index()]).addClass('active');
    });
});

<% routes = Rails.application.routes.url_helpers %>

$(function () {
    var elem;

    $('#result_banner ul li a').bind('mouseenter mouseleave', function() {
        var elem = $('.legend', $(this));

        if(elem.css('display') == 'none') {
            elem.fadeIn();
        } else {
            elem.hide();
        }
    });
});

$(function () {
    $('form.questionnaire').submit(function () {
        var input = $('input[type=submit]');

        if (!input.hasClass('inactive')) {
            input.addClass('inactive');
            input.addClass('loading');
        }
    });
});

$(function () {
    $('a.questions_category_1').click(function () {
        if (! $(this).hasClass('inactive')) {
            $('#questions_category_1').hide();
            $('#questions_category_2').show();
        }
    });
});

$(function () {
    $('a.questions_category_2').click(function () {
        if (! $(this).hasClass('inactive')) {
            $('#questions_category_2').hide();
            $('#participant_info').show();
        }
    });
});

$(function () {
    $('#participant_info a.previous').click(function () {
        $('#participant_info').hide();
        $('#questions_category_2').show();
    });
    $('#questions_category_2 a.previous').click(function () {
        $('#questions_category_2').hide();
        $('#questions_category_1').show();
    });
});

$(function () {
    $('#partners_page_link').click(function (){
        $('#partners_page_content').slideToggle(200);
        $(this).toggleClass('active');
    });
});

$(function () {
    $('#questionnaire_participant_country').change(function () {
        if ($('option:selected', $(this)).val() == 'Brazil') {
            $('#participant_info .input.city').removeClass('hidden');
        } else {
            $('#participant_info .input.city').addClass('hidden');
        }

        checkParticipantInfoValues();
    });
});

$(function () {
    // if ($('input[id=not_brazilian]').length != 0)
        $('input[id=not_brazilian]').live('change', function () {
            if ($(this).is(':checked')) {
                $('div.country').removeClass('hidden');
                $('div.city').addClass('hidden');
            } else {
                $('div.city').removeClass('hidden');
                $('div.country').addClass('hidden');
            }
        });
});
