<p>Direitistas tendem a favorecer a liberdade econômica, mas frequentemente
apóiam leis que restringem os comportamentos pessoais que violam os <em>"valores
tradicionais"</em>. Eles se opõem a um controle excessivo do governo nos negócios,
enquanto incentivam a ação governamental para defender a moralidade e a
estrutura tradicional da família. Direitistas geralmente apóiam um forte
poderio militar, se opõem a burocracia e altos impostos, favorecem a economia
de livre mercado e defendem forte repressão ao crime.</p>

<h3>Grandes nomes da Direita</h3>

<div id="result_banner">
  <ul>
    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/Winston_Churchill" target="_blank">
      <span class="image">
        <img src="/assets/persons/churchill.png" alt="Winston Churchill" width="123" height="170" />
      </span>
      <span class="legend">Winston Churchill</span>
    </a></li>

    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/Ronald_Reagan" target="_blank">
      <span class="image">
        <img src="/assets/persons/reagan.png" alt="Ronald Reagan" width="123" height="170"  />
      </span>
      <span class="legend">Ronald Reagan</span>
    </a></li>

    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/Irving_Kristol" target="_blank">
      <span class="image">
        <img src="/assets/persons/kristol.png" alt="Irving Kristol" width="123" height="170"  />
      </span>
      <span class="legend">Irving Kristol</span>
    </a></li>

    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/Olavo_de_Carvalho" target="_blank">
      <span class="image">
        <img src="/assets/persons/olavo.png" alt="Olavo de Carvalho" width="123" height="170"  />
      </span>
      <span class="legend">Olavo de Carvalho</span>
    </a></li>
  </ul>

  <p class="controls">
    <span class="before">Anterior</span>
    <span class="after">Próximo</span>
  </p>
</div>

<h3>Faça um test drive intelectual</h3>

<h4 class="articles">Artigos sugeridos</h4>

<ul>
  <li><a class="class_click" href="http://www.mises.org.br/Article.aspx?id=1036" target="_blank">Como a guerra às drogas está destruindo o México</a></li>
  <li><a class="class_click" href="http://www.mises.org.br/Article.aspx?id=986" target="_blank">Conservadores podem ser libertários?</a></li>
</ul>

<h4 class="books">Livros sugeridos</h4>

<ul class="book_list">
  <li><a class="class_click" href="http://www.mises.org.br/files/literature/As%20Seis%20Li%C3%A7%C3%B5es%20MISES%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/as_seis_licoes.png" alt="As Seis Lições" height="75" width="50" /></span>
    <span class="title">As Seis Liçoes</span>
    <span class="author">Ludwig von Mises</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/Defendendo%20o%20Indefens%C3%A1vel%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/defendendo_o_indefensavel.png" alt="Defendendo o Indefensável" height="75" width="50" /></span>
    <span class="title">Defendendo o Indefensável</span>
    <span class="author">Walter Block</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/Estado%20N%C3%A3o%20Obrigado%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/estado_nao_obrigado.png" alt="Estado? Não, Obrigado" height="75" width="50" /></span>
    <span class="title">Estado? Não, Obrigado</span>
    <span class="author">Marcello Mazzilli</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/O%20CAMINHO%20DA%20SERVID%C3%83O%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/o_caminho_da_servidao.png" alt="O Caminho da Servidão" height="75" width="50" /></span>
    <span class="title">O Caminho da Servidão</span>
    <span class="author">Friedrich A. Hayek</span>
  </a></li>

  <li><a class="class_click" href="http://www.erealizacoes.com.br/ecom/produtos_descricao.asp?lang=pt_BR&codigo_produto=1347" target="_blank">
    <span class="image"><img src="/assets/books/o_fim_do_fed.png" alt="O Fim do FED" height="75" width="50" /></span>
    <span class="title">O Fim do FED</span>
    <span class="author">Ron Paul</span>
  </a></li>

  <li><a class="class_click" href="http://www.libertarianismo.org/livros/vnsc.pdf" target="_blank">
    <span class="image"><img src="/assets/books/vicios_nao_sao_crimes.png" alt="Lysander Spooner" height="75" width="50" /></span>
    <span class="title">Vícios não são crimes</span>
    <span class="author">Lysander Spooner</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/A%20Lei%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/a_lei.png" alt="A Lei" height="75" width="50" /></span>
    <span class="title">A Lei</span>
    <span class="author">Frédéric Bastiat</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/economia%20numa%20unica%20li%C3%A7ao%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/economia_numa_unica_licao.png" alt="Economia Numa Única Lição" height="75" width="50" /></span>
    <span class="title">Economia Numa Única Lição</span>
    <span class="author">Henry Hazlitt</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/Contra%20a%20Propriedade%20Intelectual%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/contra_a_propriedade_intelectual.png" alt="Contra a Propriedade Intelectual" height="75" width="50" /></span>
    <span class="title">Contra a Propriedade Intelectual</span>
    <span class="author">Stephan Kinsella</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/A%20anatomia%20do%20estado.pdf" target="_blank">
    <span class="image"><img src="/assets/books/a_anatomia_do_estado.png" alt="A Anatomia do Estado" height="75" width="50" /></span>
    <span class="title">A Anatomia do Estado</span>
    <span class="author">Murray N. Rothbard</span>
  </a></li>
</ul>

<h4 class="video">Vídeo</h4>

<p>
    <iframe width="400" height="233" src="http://www.youtube.com/embed/-shwabBMEXQ" frameborder="0" allowfullscreen></iframe>
</p>
