<%
  case @participant.position_result

  when Participant::POSITIONS['Centrista']
    page = Page.find_by_indicator(Page::PAGES[:centrist_result])
    position = t('result.centrist')
    facebook_share = 'centrist'
    twitter_share = t('result.twitter.centrist')

  when Participant::POSITIONS['Libertário']
    page = Page.find_by_indicator(Page::PAGES[:libertarian_result])
    position = t('result.libertarian')
    facebook_share = 'libertarian'
    twitter_share = t('result.twitter.libertarian')

  when Participant::POSITIONS['Esquerda']
    page = Page.find_by_indicator(Page::PAGES[:left_result])
    position = t('result.left')
    facebook_share = 'left'
    twitter_share = t('result.twitter.left')

  when Participant::POSITIONS['Direita']
    page = Page.find_by_indicator(Page::PAGES[:right_result])
    position = t('result.right')
    facebook_share = 'right'
    twitter_share = t('result.twitter.right')

  when Participant::POSITIONS['Estatista']
    page = Page.find_by_indicator(Page::PAGES[:statist_result])
    position = t('result.statist')
    facebook_share = 'statist'
    twitter_share = t('result.twitter.statist')

  end
%>

<% twitter_share += " #{configuration.site_url} #{result_redirector_path(facebook_share)}" %>

<style>
  <% ips = ((10 - @participant.civil_liberty_score) * 17).round %>
  <% eps = ((10 - @participant.economic_freedom_score) * 17).round %>
  #result_diagram .nolan_diagram .dot {
    background: url("/assets/dot.png") no-repeat <%= 172 + ips - eps %>px <%= ips + eps %>px;
  }

  #result_diagram .nolan_diagram .alert {
    margin: <%= ips + eps - 8 %>px 0 0 <%= 208 + ips - eps %>px;
  }
</style>

<div id="result_box" class="page_box">
  <div id="result_diagram">
    <div class="nolan_diagram <%= Page::PAGES.index(page.indicator).to_s %>">
      <ul class="positions">
        <li class="libertarian_item"><%= t('result.libertarian') %></li>
        <li class="left_item"><%= t('result.left') %></li>
        <li class="centrist_item"><%= t('result.centrist') %></li>
        <li class="right_item"><%= t('result.right') %></li>
        <li class="statist_item"><%= t('result.statist') %></li>
      </ul>

      <div class="alert">
        <p class="civil_liberties">
          <strong><%= @participant.civil_liberty_score * 10 %>%</strong><br/>
          <%= t('result.civil_liberties') %>
        </p>

        <p class="economic_freedom">
          <strong><%= @participant.economic_freedom_score * 10 %>%</strong><br />
          <%= t('result.economic_freedom') %>
        </p>

        <p class="close">&times;</p>
      </div>

      <div class="dot"></div>
    </div>

    <div class="result_score">
      <p class="civil_liberties">
        <strong><%= @participant.civil_liberty_score * 10 %>%</strong><br/>
        <%= t('result.civil_liberties') %>
      </p>

      <p class="economic_freedom">
        <strong><%= @participant.economic_freedom_score * 10 %>%</strong><br />
        <%= t('result.economic_freedom') %>
      </p>
    </div>

    <p class="result_position">
      <%= t('result.message') %>:<br />
      <strong class="<%= Page::PAGES.index(page.indicator).to_s %>"><%= position %></strong>
    </p>

    <div class="result_share">
      <p><%= t('result.share') %></p>

      <p class="facebook">
        <a href="http://www.facebook.com/sharer.php?u=<%= configuration.site_url + result_redirector_path(facebook_share) %>" target="_blank"><span>Facebook</span></a>
      </p>

      <p class="twitter">
        <a href="http://twitter.com/home?status=<%= twitter_share %>" target="_blank">
          <span>Twitter</span>
        </a>
      </p>
    </div>

  </div>

  <div id="result_content">
    <h2><%= page.title_by_lang(I18n.locale) %></h2>

    <%= page.content_by_lang(I18n.locale).html_safe %>
  </div>
</div>
