<%= content_for :page_title do 'Principal' end %>

<%= content_for :page_id do 'index' end %>

<%= content_for :content do %>
  <div id="index_logo">
    <%= link_to content_tag(:span,
        "<span class=\"play\"></span>#{t('home.start_the_test')}".html_safe),
      questionnaire_path %>
  </div>
<% end %>
