<%= content_for :content do %>
  <div class="page_box">
    <h2><%= @lecture_request.title %></h2>

    <%= @lecture_request.content_by_lang(I18n.locale).html_safe %>

    <%= content_tag(:p, notice, :class => 'notice') if notice %>

    <%= simple_form_for(@lecture_request_form,
      :url => send_lecture_request_path, :locale => lookup) do |f| %>
      <div class="inputs">
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <%= f.input :city %>
        <%= f.input :state, :collection => LectureRequest::BRAZILIAN_STATES %>
        <%= f.input :place, :as => :text %>
      </div>

      <div class="actions">
        <%= f.button :submit, t('lecture.submit'), :class => 'right' %>
      </div>
    <% end %>
  </div>
<% end %>
