<%= content_for :page_title do @page.title_by_lang(I18n.locale) end %>

<%= content_for :page_id do Page::PAGES.index(@page.indicator) end %>

<%= content_for :content do %>
  <div class="page_box page">
    <h2><%= @page.title_by_lang(I18n.locale) %></h2>

    <%= @page.content_by_lang(I18n.locale).html_safe %>
  </div>
<% end %>
