<% unless @participant.errors.blank? %>
  if($('#participant_info p.error_notice').length == 0) {
    $('#participant_info > p:first').after(
      '<p class="error_notice">Por favor, preencha os campos corretamente.</p>'
    );
  }
  $('input.right').removeClass('loading');
  checkParticipantInfoValues();
<% else %>
  $('#questionnaire').html('<%= escape_javascript(render(:partial => 'result')) %>');

  var result_banner = $('#result_banner > ul').bxSlider({
    displaySlideQty: 3, controls: false
  });

  $('#result_banner .controls .after').click(function () {
    result_banner.goToPreviousSlide();
  });

  $('#result_banner .controls .before').click(function () {
    result_banner.goToNextSlide();
  });

  setTimeout(function () {
    $('#result_diagram .nolan_diagram .alert').fadeIn(600);
  }, 200);
<% end %>

<% ['name', 'email', 'city'].each do |field| %>
  <% unless @participant.errors[field].blank? %>
    $('.input.<%= field %>').addClass('field_with_errors');
    $('.input.<%= field %> span.error').remove();
    $('.input.<%= field %>').append(
      '<span class="error"><%= @participant.errors[field] %></span>'
    );
  <% else %>
    $('.input.<%= field %>').removeClass('field_with_errors');
    $('.input.<%= field %> span.error').remove();
  <% end %>
<% end %>

