<%= content_for :page_id do 'questionnaire' end %>

<%= content_for :page_title do 'Questionário' end %>

<%= content_for :content do %>
  <div id="questionnaire">
    <%=simple_form_for('questionnaire',
      :url => responses_create_path, :remote => true, :locale => lookup) do |f| %>

      <%= f.simple_fields_for 'responses' do |r| %>
        <div id="questions_category_1" class="page_box">
          <h2><%= t('quiz.civil_questions') %></h2>

          <p class="question_answers_legend">
            <span><%= t('quiz.my_responses') %></span>
          </p>

          <ol class="questions">
            <% @questions_civil_liberties.each_with_index do |question, i| %>
              <% i += 1 %>

              <li id="question_<%= i %>" class="question">
                <p class="index"><span><%= i %></span></p>
                <p class="question_text">
                  <%= question.question_by_lang(I18n.locale) %>
                </p>
                <p class="question_answers"><%= answers_input i %></p>
              </li>
            <% end %>
          </ol>

          <p class="actions">
            <a class="questions_category_1 right inactive" href="javascript:void(0);">
              <%= t('quiz.economic_questions') %>
            </a>
          </p>
        </div>

        <div id="questions_category_2" class="page_box" style="display: none;">
          <h2><%= t('quiz.economic_questions') %></h2>

          <p class="question_answers_legend">
            <span><%= t('quiz.my_responses') %></span>
          </p>

          <ol class="questions">
            <% @questions_economic_freendom.each_with_index do |question, i| %>
              <% i += 6 %>

              <li id="question_<%= i %>" class="question">
                <p class="index"><span><%= i %></span></p>
                <p class="question_text">
                  <%= question.question_by_lang(I18n.locale) %>
                </p>
                <p class="question_answers"><%= answers_input i %></p>
              </li>
            <% end %>
          </ol>

          <p class="actions">
            <a class="previous left" href="javascript:void(0);">
              <%= t('quiz.civil_questions') %>
            </a>

            <a class="questions_category_2 right inactive" href="javascript:void(0);">
              <%= t('quiz.personal_data') %>
            </a>
          </p>
        </div>
      <% end %>

      <%= f.simple_fields_for @participant do |p| %>
        <div id="participant_info" class="page_box" style="display: none;">
          <h2><%= t('quiz.personal_data') %></h2>

          <p><%= t('quiz.alert') %></p>

          <div class="fields">
              <% if request.location.country == 'Brazil' %>
                <div class="input boolean optional">
                  <label for="not_brazilian" class="boolean optional control-label checkbox">
                    <%= check_box_tag 'not_brazilian', '', false, :class => 'boolean optional' %>
                    I'm not Brazilian
                  </label>
                </div>

                <%= p.input :name, :wrapper_html => { :class => 'name' } %>
                <%= p.input :email, :wrapper_html => { :class => 'email' } %>
                <%= p.input :country, :required => true, :priority => [], :input_html => {:value => 'Brazil'}, :wrapper_html => { :class => 'country hidden' } %>
                <%= p.input :city_token, :required => true, :wrapper_html => { :class => 'city' } %>
              <% else %>
                <%= p.input :name, :wrapper_html => { :class => 'name' } %>
                <%= p.input :email, :wrapper_html => { :class => 'email' } %>
                <%= p.input :country, :required => true, :wrapper_html => { :class => 'country' }, :input_html => { :value => request.location.country } %>
                <%= p.input :city_token, :required => true, :wrapper_html => { :class => 'city hidden' } %>
              <% end %>

            <%= p.input :receive_email %>
          </div>
          <p class="actions">
            <a class="previous left" href="javascript:void(0);">
              <%= t('quiz.economic_questions') %>
            </a>
            <%= f.submit t('quiz.get_result'), :class => 'inactive right' %>
          </p>
        </div>
      <% end %>

    <% end %>
  </div>
<% end %>
