<%= content_for :fb_meta do %>
  <meta property="og:title" content="<%= t('result.facebook.' + @position + '.title') %>" />
  <meta property="og:description" content="<%= t('result.facebook.' + @position + '.description') %>" />
  <meta property="og:url" content="<%= configuration.site_url + result_redirector_path(params[:position]) %>" />
  <meta property="og:image" content="<%= configuration.site_url + @image[@position.to_sym] %>" />
<% end %>
