<% if @responses.map(&:valid?).include? false %>
  var questionnaire_html = $('#questionnaire').html();
  if($('#questionnaire p.error_notice').length == 0) {
    $('#questionnaire').prepend("<p class=\"error_notice\">Por favor, responda todas as perguntas.</p>");
  }
  <% @responses.each_with_index do |response, i| %>
    <% i += 1 %>
    <% i += 5 if @current_step == '2' %>
    <% if response.valid? %>
      $('#question_<%= i %>').removeClass('error');
    <% else %>
      $('#question_<%= i %>').addClass('error');
    <% end %>
  <% end %>
<% else %>
  <% @responses.each_with_index do |response, i| %>
    <% i += 1 %>
    <% i += 5 if @current_step == '2' %>
    $('#question_<%= i %>').removeClass('error');
  <% end %>
  $('#questionnaire p.error_notice').remove();
  <% if @current_step == '1' %>
    $('#questions_category_1').hide();
    $('#questions_category_2').show();
  <% elsif @current_step == '2' %>
    $('#questions_category_2').hide();
    $('#participant_info').show();
  <% end %>
<% end %>
