<p>Esquerdistas geralmente abraçam a liberdade de escolher em questões pessoais,
mas tendem a apoiar um controle governamental significativo na economia.
Eles geralmente defendem uma rede de assistência financiada através de impostos
para auxiliar os desamparados, e advogam uma ampla regulação dos negócios.
Esquerdistas tendem a favorecer regulações ambientais, defendem as liberdades
civis e livre expressão, apóiam a ação governamental para promover a igualdade
e toleram diversos estilos de vida.</p>

<h3>Grandes nomes da Esquerda</h3>

<div id="result_banner">
  <ul>
    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/John_Rawls" target="_blank">
      <span class="image">
        <img src="/assets/persons/rawls.png" alt="John Rawls" width="123" height="170" />
      </span>
      <span class="legend">John Rawls</span>
    </a></li>

    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/Barack_Obama" target="_blank">
      <span class="image">
        <img src="/assets/persons/obama.png" alt="Barack Obama" width="123" height="170"  />
      </span>
      <span class="legend">Barack Obama</span>
    </a></li>

    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/Michael_Moore" target="_blank">
      <span class="image">
        <img src="/assets/persons/moore.png" alt="Michael Moore" width="123" height="170"  />
      </span>
      <span class="legend">Michael Moore</span>
    </a></li>

    <li><a class="class_click" href="http://pt.wikipedia.org/wiki/Noam_Chomsky" target="_blank">
      <span class="image">
        <img src="/assets/persons/chomsky.png" alt="Noam Chomsky" width="123" height="170"  />
      </span>
      <span class="legend">Noam Chomsky</span>
    </a></li>
  </ul>

  <p class="controls">
    <span class="before">Anterior</span>
    <span class="after">Próximo</span>
  </p>
</div>

<h3>Faça um test drive intelectual</h3>

<h4 class="articles">Artigos sugeridos</h4>

<ul>
  <li><a class="class_click" href="http://www.mises.org.br/Article.aspx?id=98" target="_blank">Por que o Nazismo era Socialismo e por que o Socialismo é Totalitário</a></li>
  <li><a class="class_click" href="http://www.mises.org.br/Article.aspx?id=1156" target="_blank">Nenhum imposto é neutro; qualquer imposto sempre afetará os mais pobres</a></li>
</ul>

<h4 class="books">Livros sugeridos</h4>

<ul class="book_list">
  <li><a class="class_click" href="http://www.mises.org.br/files/literature/As%20Seis%20Li%C3%A7%C3%B5es%20MISES%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/as_seis_licoes.png" alt="As Seis Lições" height="75" width="50" /></span>
    <span class="title">As Seis Liçoes</span>
    <span class="author">Ludwig von Mises</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/esquerda%20e%20direita.pdf" target="_blank">
    <span class="image"><img src="/assets/books/esquerda_e_direita.png" alt="Esquerda e Direita" height="75" width="50" /></span>
    <span class="title">Esquerda e Direita</span>
    <span class="author">Murray N. Rothbard</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/Estado%20N%C3%A3o%20Obrigado%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/estado_nao_obrigado.png" alt="Estado? Não, Obrigado" height="75" width="50" /></span>
    <span class="title">Estado? Não, Obrigado</span>
    <span class="author">Marcello Mazzilli</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/O%20CAMINHO%20DA%20SERVID%C3%83O%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/o_caminho_da_servidao.png" alt="O Caminho da Servidão" height="75" width="50" /></span>
    <span class="title">O Caminho da Servidão</span>
    <span class="author">Friedrich A. Hayek</span>
  </a></li>

  <li><a class="class_click" href="http://www.erealizacoes.com.br/ecom/produtos_descricao.asp?lang=pt_BR&codigo_produto=1347" target="_blank">
    <span class="image"><img src="/assets/books/o_fim_do_fed.png" alt="O Fim do FED" height="75" width="50" /></span>
    <span class="title">O Fim do FED</span>
    <span class="author">Ron Paul</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/A%20Lei%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/a_lei.png" alt="A Lei" height="75" width="50" /></span>
    <span class="title">A Lei</span>
    <span class="author">Frédéric Bastiat</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/economia%20numa%20unica%20li%C3%A7ao%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/economia_numa_unica_licao.png" alt="Economia Numa Única Lição" height="75" width="50" /></span>
    <span class="title">Economia Numa Única Lição</span>
    <span class="author">Henry Hazlitt</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/Contra%20a%20Propriedade%20Intelectual%20-%20WEB.pdf" target="_blank">
    <span class="image"><img src="/assets/books/contra_a_propriedade_intelectual.png" alt="Contra a Propriedade Intelectual" height="75" width="50" /></span>
    <span class="title">Contra a Propriedade Intelectual</span>
    <span class="author">Stephan Kinsella</span>
  </a></li>

  <li><a class="class_click" href="http://www.mises.org.br/files/literature/A%20anatomia%20do%20estado.pdf" target="_blank">
    <span class="image"><img src="/assets/books/a_anatomia_do_estado.png" alt="A Anatomia do Estado" height="75" width="50" /></span>
    <span class="title">A Anatomia do Estado</span>
    <span class="author">Murray N. Rothbard</span>
  </a></li>
</ul>

<h4 class="video">Vídeo</h4>

<p>
    <iframe width="400" height="233" src="http://www.youtube.com/embed/D9N535gR9qo" frameborder="0" allowfullscreen></iframe>
</p>
