/*
*= require_self
*= require token-input-facebook
*/

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

html {
    background: #fff url("/assets/bg.png");
}

html, body {
    height: 100%;
}

body {
    background: transparent;
}

img {
    border: 0;
}

div:after, ol:after, form:after, ul:after, dl:after, li:after,
.page_box .actions:after, #questionnaire .question_answers_legend:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

input[type="submit"]::-moz-focus-inner {
    border: 0;
}

.simple_form > div:first-child:after {
    content: none;
}

/* ========================================================================== */

/*
** Header
*/

#header_wrapper {
    display: none;
}

#index_page #header_wrapper {
    position: absolute;
    display: block;
    width: 100%;
}

#index_page #header_wrapper h1 {
    margin-top: 324px;

    color: #fff;
    font-size: 56px;
    text-align: center;
    text-shadow: 0 2px 5px #000;
}

#index_page #header_wrapper h2 {
    margin-top: -110px;

    font-size: 24px;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#index_page.it_lang #header_wrapper h2 {
    font-size: 20px;
}

#index_page.fr_lang #header_wrapper h2 {
    font-size: 22px;
}

#index_page.fr_lang #header_wrapper h1 {
    font-size: 50px;
}

#index_page.fr_lang #index_logo a {
    margin: 520px 0 0 276px;
}

/*
** Main navigation
*/

#main_navigation_wrapper {
    margin: 30px 0 0 30px;
    position: absolute;
}

ul#main_navigation {
    list-style: none;
}

ul#main_navigation > li {
    margin-bottom: 10px;
    padding-right: 15px;
}

ul#main_navigation > li > a {
    display: block;
    width: 48px;
    height: 48px;

    text-decoration: none;
    border-radius: 5px;
    background-color: #2f5e77;
}

ul#main_navigation > li.nolan_item > a {
    background: #2f5e77 url("/assets/main_navigation_icons.png") no-repeat center 0;
}

ul#main_navigation > li.about_item > a {
    background: #2f5e77 url("/assets/main_navigation_icons.png") no-repeat center -48px;
}

ul#main_navigation > li.talk_item > a {
    background: #2f5e77 url("/assets/main_navigation_icons.png") no-repeat center -96px;
}

ul#main_navigation > li.donate_item > a {
    background: #2f5e77 url("/assets/main_navigation_icons.png") no-repeat center -144px;
}

ul#main_navigation > li.share_item > a {
    background: #2f5e77 url("/assets/main_navigation_icons.png") no-repeat center -192px;
}

ul#main_navigation > li.lang_item > a {
    background: #2f5e77 url("/assets/main_navigation_icons.png") no-repeat center -241px;
}

ul#main_navigation > li.active > a {
    background-color: #7ec247;
}

ul#main_navigation > li > a span {
    margin: 9px 0 0 60px;
    padding: 7px;
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1555;

    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    background: #000;
}

ul#main_navigation > li:hover {
    background: url("/assets/main_navigation_item_detail.png") no-repeat 51px center;
}

ul#main_navigation > li.share_item.active:hover {
    background: none;
}

ul#main_navigation > li:hover > a {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

ul#main_navigation > li:hover > a span {
    display: block;
}

ul#main_navigation > li.share_item.active:hover > a span,
ul#main_navigation > li.lang_item.active:hover > a span {
    display: none;
}

ul#main_navigation .share_item.active .social_networks_wrapper,
ul#main_navigation .lang_item.active .langs_wrapper {
    display: block;
}

ul#main_navigation .social_networks_wrapper {
    margin: -48px 0 0 50px;
    padding-left: 10px;
    display: none;
    position: absolute;

    background: url("/assets/main_navigation_item_detail.png") no-repeat 0 center;
}

ul#main_navigation .social_networks {
    padding: 5px;
    width: 168px;

    border-radius: 6px;
    border: 5px solid #000;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

ul#main_navigation .lang_item > .langs_wrapper {
    margin: -85px 0 0 50px;
    padding-left: 10px;
    display: none;
    position: absolute;
    z-index: 4000;

    background: url("/assets/main_navigation_item_detail.png") no-repeat 0 center;
}

ul#main_navigation .lang_item ul.langs {
    padding: 5px;
    width: 400px;
    min-height: 104px;

    list-style: none;
    border-radius: 6px;
    border: 5px solid #000;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

ul#main_navigation .lang_item ul.langs li {
    float: left;
    width: 100px;
}

ul#main_navigation .lang_item ul.langs li a {
    padding: 5px 5px 5px 20px;
    display: block;

    color: #444;
    font-size: 14px;
    text-decoration: none;
}

ul#main_navigation .lang_item ul.langs li a:hover,
ul#main_navigation .lang_item ul.langs li.active a:hover {
    background-color: #f5f5f5;
}

ul#main_navigation .lang_item ul.langs li.active a {
    background: url("/assets/ok_icon.png") no-repeat 2px center;
}

/*
** Content
*/

#content {
    margin: 0 auto;
    padding: 30px 0 100px 0;
    width: 800px;
    min-height: 600px;
}

/*
** Page box
*/

.page_box {
    margin: -30px 0 0 0;
    padding: 20px;

    border: 1px solid #fff;
    border-top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
}

#questionnaire .page_box {
    padding-top: 60px;
}

.page_box > h2 {
    margin-bottom: 40px;

    color: #2f5e77;
    font-size: 32px;
    font-weight: normal;
}

.page_box p, .page_box blockquote, .page_box ul li {
    margin-bottom: 20px;

    color: #444;
    font-size: 14px;
}

.page_box blockquote {
    padding-left: 50px;

    background: url("/assets/blockquote_bg.png") no-repeat;
}

.page_box ul {
    margin-bottom: 5px;
}

.page_box ul li {
    margin: 0 0 5px 30px;
    list-style-type: square;
}

.page_box p.error_notice {
    padding-left: 20px;

    color: red;
    background: url("/assets/error_icon.png") no-repeat left center;
}

.page_box .actions {
    margin: 0 -20px;
    padding: 15px 20px;
    position: absolute;
    width: 758px;


    border-top: 1px solid #ccc;
    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
}

.page_box .actions a, .page_box .actions input {
    display: block;

    cursor: pointer;
    color: #444;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    border: 0;
    background: transparent;
}

.page_box .actions .loading {
    background: url("/assets/loader.gif") no-repeat right center !important;
}

.page_box .actions a.inactive,
.page_box .actions input.inactive,
.page_box .actions a.inactive:hover,
.page_box .actions input.inactive:hover {
    display: block;

    cursor: default;
    color: #777;
}

.page_box .actions a:hover, .page_box .actions input:hover {
    color: #000;
}

.page_box .actions .right {
    padding-right: 25px;
    float: right;

    background: url("/assets/actions_arrows_icons.png") no-repeat right top;
}

.page_box .actions .right:hover {
    background: url("/assets/actions_arrows_icons.png") no-repeat right -37px;
}

.page_box .actions .right.inactive:hover {
    background: url("/assets/actions_arrows_icons.png") no-repeat right top;
}

.page_box .actions .left {
    padding-left: 25px;
    float: left;

    background: url("/assets/actions_arrows_icons.png") no-repeat left -20px;
}

.page_box .actions .left:hover {
    background: url("/assets/actions_arrows_icons.png") no-repeat left -57px;
}

.page_box .actions .left.inactive:hover {
    background: url("/assets/actions_arrows_icons.png") no-repeat left -20px;
}

.page_box .fields {
    padding-bottom: 20px;
}

.page_box .input {
    margin-bottom: 10px;
}

.page_box .input input,
.page_box .input label,
.page_box .input textarea,
.page_box .input select {
    display: block;
    float: left;
}

.page_box .input label {
    margin: 8px 10px 0 0;
    width: 150px;

    color: #444;
    font-size: 16px;
    text-align: right;
}

.page_box .input input, .page_box .input textarea, .page_box .input select {
    padding: 7px;
    width: 385px;

    color: #777;
    font-size: 16px;
    border: 1px solid #787878;
    background: rgb(230,230,230); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 32%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(32%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 32%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 32%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 32%); /* IE10+ */
    background: linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 32%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.page_box .input select {
    width: auto;
}

.page_box .input select.country {
    min-width: 401px;
}

.page_box .input textarea {
    height: 60px;
}

.page_box .input.field_with_errors input,
.page_box .input.field_with_errors textarea,
.page_box .input.field_with_errors select {
    border: 1px solid red;
    background: #e5c7c7; /* Old browsers */
    background: -moz-linear-gradient(top, #e5c7c7 0%, #ffffff 32%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5c7c7), color-stop(32%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5c7c7 0%,#ffffff 32%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5c7c7 0%,#ffffff 32%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5c7c7 0%,#ffffff 32%); /* IE10+ */
    background: linear-gradient(top, #e5c7c7 0%,#ffffff 32%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c7c7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.page_box .input.hidden {
    display: none;
}

.page_box .input .error {
    margin: 8px 0 0 10px;
    display: block;
    float: left;

    color: red;
    font-size: 13px;
}

.page_box .input.boolean label {
    margin: 8px 0 0 160px;
    width: auto;
    line-height: 85%;

    text-align: left;
}

.page_box .input.boolean label input {
    margin-right: 10px;
    width: auto;
}

.page_box p a {
    color: #2F5E77;
}

.page_box p#not_brazilian {
    margin: -10px 0 10px 160px;

    font-size: 12px;
}

/*
** Sections box
*/

.sections_box .navigation {
    padding: 20px 20px 0 0;
    float: left;
    width: 230px;

    background: url("/assets/section_navigation_bg.png") no-repeat right top;
}

.sections_box .navigation ul {
    background: #fff;
}

.sections_box .navigation ul li {
    margin: 0;

    list-style: none;
    border-bottom: 1px solid #e8e8e8;
}

.sections_box .navigation ul li a {
    padding: 7px 10px;
    display: block;

    color: #686868;
    font-size: 14px;
    text-decoration: none;
}

.sections_box .navigation ul li.active a {
    color: #fff;
    background: #7ec247;
}

.sections_box .navigation ul li.active a:hover {
    background: #7ec247;
}

.sections_box .navigation ul li a:hover {
    background: #f5f5f5;
}

.sections_box ul.sections {
    float: right;
    width: 480px;
}

.sections_box ul.sections > li {
    padding-top: 20px;
    display: none;

    list-style: none;
}

.sections_box ul.sections li h3 {
    display: none;
}

.sections_box ul.sections > li.active {
    display: block;
}

/*
** Index
*/

#index_logo {
    height: 600px;

    background: url("/assets/logo_index.png") no-repeat center top;
}

#index_logo a {
    margin: 520px 0 0 298px;
    display: block;
    padding: 10px;
    float: left;

    border-radius: 100px;
    text-decoration: none;
    background: rgb(211,211,211); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(211,211,211,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#index_logo a > span {
    display: block;
    padding: 15px;

    color: #666;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    border-radius: 100px;
    text-decoration: none;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(211,211,211,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#index_logo a > span .play {
    margin: -21px 10px -17px -10px;
    display: inline-block;
    width: 48px;
    height: 48px;

    background: url("/assets/play_icon.png") no-repeat center;
}

#index_logo a:hover > span {
    color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#index_logo a:active > span {
    color: #444;
    box-shadow: 0 0 15px #000;
}

/*
** Questionnaire
*/

#questionnaire #questions_category_1 h2,
#questionnaire #questions_category_2 h2 {
    padding-left: 50px;
}

#questionnaire #questions_category_1 h2 {
    background: url("/assets/questions_category_icons.png") no-repeat;
}

#questionnaire #questions_category_2 h2 {
    background: url("/assets/questions_category_icons.png") no-repeat 0 -47px;
}

#questionnaire .question_answers_legend {
    margin: 0;
}

#questionnaire .question_answers_legend span {
    padding: 5px;
    display: block;
    float: right;
    width: 160px;

    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background: #2f5e77;
}

#questionnaire ol {
    margin-top: 5px;
    list-style: none;
}

#questionnaire ol li {
    margin: 0 0 20px 35px;
    background: #ececec;
}

#questionnaire ol li .index {
    margin: 0 0 -10px -68px;
    padding-bottom: 10px;
    float: left;

    background: url("/assets/question_index_detail.png") no-repeat left bottom;
}

#questionnaire ol li .index span {
    padding: 10px 20px;
    display: block;
    min-height: 50px;

    color: #fff;
    font-size: 42px;
    font-weight: bold;
    background: #7ec247;
}

#questionnaire ol li#question_10 .index span {
    padding: 10px 8px 10px 9px;
}

#questionnaire ol li .question_text {
    margin: 0;
    padding: 10px;
    float: left;
    width: 530px;

    color: #444;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
}

#questionnaire ol li .question_answers {
    margin: 10px;
    float: right;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#questionnaire ol li .question_answers > span {
    display: block;
    float: left;

    cursor: pointer;
    background: url("/assets/question_answers_separator.png") no-repeat left bottom;
}

#questionnaire ol li .question_answers > span:first-child {
    background-image: none;
}

#questionnaire ol li .question_answers > span:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#questionnaire ol li .question_answers > span.active {
    background: rgb(26,26,26); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(102,102,102,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,26,26,1)), color-stop(100%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%,rgba(102,102,102,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(26,26,26,1) 0%,rgba(102,102,102,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(26,26,26,1) 0%,rgba(102,102,102,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(26,26,26,1) 0%,rgba(102,102,102,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

#questionnaire ol li .question_answers > span strong {
    display: block;
    width: 50px;
    height: 50px;
}

#questionnaire ol li .question_answers > span.agree strong {
    background: url("/assets/question_answer_icons.png") no-repeat;
}

#questionnaire ol li .question_answers > span.perhaps strong {
    background: url("/assets/question_answer_icons.png") no-repeat -50px 0px;
}

#questionnaire ol li .question_answers > span.disagree strong {
    background: url("/assets/question_answer_icons.png") no-repeat -100px 0px;
}

#questionnaire ol li .question_answers > span.agree.active strong {
    background: url("/assets/question_answer_icons.png") no-repeat 0 -50px;
}

#questionnaire ol li .question_answers > span.perhaps.active strong {
    background: url("/assets/question_answer_icons.png") no-repeat -50px -50px;
}

#questionnaire ol li .question_answers > span.disagree.active strong {
    background: url("/assets/question_answer_icons.png") no-repeat -100px -50px;
}

#questionnaire ol li .question_answers > span:hover label {
    margin: 50px 0 0 -25px;
    padding-top: 10px;
    display: block;
    position: absolute;
    width: 100px;
    z-index: 555;

    background: url("/assets/question_answers_label_detail.png") no-repeat center top;
}

#questionnaire ol li .question_answers > span:hover label span {
    padding: 5px 7px;
    display: block;

    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    background: #000;
}

#questionnaire ol li .question_answers span input,
#questionnaire ol li .question_answers span label {
    display: none;
}

/*
** Result page
*/

#questionnaire #result_box {
    background: #fff url("/assets/result_separator.png") no-repeat 360px top;
}

#questionnaire #result_diagram {
    width: 320px;
    float: left;
}

#questionnaire #result_content {
    width: 400px;
    float: right;
}

/* Result diagram */

#result_diagram .positions {
    position: absolute;
}

#result_diagram .positions li {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    list-style: none !important;
    width: 150px;

    color: #000;
    font-size: 13px;
    text-align: center;
}

#result_diagram .positions li.libertarian_item {
    margin: 80px 0 0 118px !important;
}

#result_diagram .positions li.left_item {
    margin: 180px 0 0 10px !important;
}

#result_diagram .positions li.centrist_item {
    margin: 180px 0 0 118px !important;
}

#result_diagram .positions li.right_item {
    margin: 180px 0 0 222px !important;
}

#result_diagram .positions li.statist_item {
    margin: 285px 0 0 118px !important;
}

#result_diagram .nolan_diagram {
    margin: -45px 0 0 -35px;
    position: absolute;
    width: 390px;
    height: 390px;
}

#result_diagram .nolan_diagram .dot {
    margin: 14px auto 0 auto;
    width: 360px;
    height: 360px;
    background: rgba(255, 0, 0, 0.2) url("/assets/dot.png") no-repeat center 10px;
}

#result_diagram .nolan_diagram .alert {
    margin: 9px auto 0 auto;
    padding-left: 30px;
    position: absolute;
    display: none;
    width: 379px;
    height: 57px;
    z-index: 1000;

    background: url("/assets/result_alert_bg.png") no-repeat center;
}

#result_diagram .nolan_diagram .alert .civil_liberties,
#result_diagram .nolan_diagram .alert .economic_freedom {
    padding-left: 37px;
    margin: 5px 20px 0 0;
    float: left;

    color: #000;
    font-size: 11px;
}

#result_diagram .nolan_diagram .alert .close {
    margin: 3px 10px 0 0;
    float: right;

    cursor: pointer;
    color: #444;
    font-size: 42px;
}

#result_diagram .nolan_diagram .alert .close:hover {
    color: #000;
}

#result_diagram .nolan_diagram .alert .civil_liberties {
    background: url("/assets/result_alert_icons.png") no-repeat left -40px;
}

#result_diagram .nolan_diagram .alert .economic_freedom {
    background: url("/assets/result_alert_icons.png") no-repeat left 5px;
}

#result_diagram .nolan_diagram .alert .civil_liberties strong,
#result_diagram .nolan_diagram .alert .economic_freedom strong {
    font-size: 26px;
}

#result_diagram .nolan_diagram.libertarian_result {
    background: url("/assets/libertarian_nolan_diagram.png") no-repeat center -10px;
}

#result_diagram .nolan_diagram.left_result {
    background: url("/assets/left_nolan_diagram.png") no-repeat center -10px;
}

#result_diagram .nolan_diagram.right_result {
    background: url("/assets/right_nolan_diagram.png") no-repeat center -10px;
}

#result_diagram .nolan_diagram.centrist_result {
    background: url("/assets/centrist_nolan_diagram.png") no-repeat center -10px;
}

#result_diagram .nolan_diagram.statist_result {
    background: url("/assets/statist_nolan_diagram.png") no-repeat center -10px;
}

#result_diagram .result_score {
    padding: 10px;
    height: 320px;

    background: #7ec247;
}

#result_diagram .result_score .civil_liberties,
#result_diagram .result_score .economic_freedom {
    margin: 240px 0 0 0;
    padding-top: 32px;
    display: none;
    width: 150px;

    color: #000;
    font-size: 10px;
}

#result_diagram .result_score .civil_liberties {
    float: left;

    background: url("/assets/result_diagram_icons.png") no-repeat -30px top;
}

#result_diagram .result_score .economic_freedom {
    float: right;

    text-align: right;
    background: url("/assets/result_diagram_icons.png") no-repeat 120px top;
}

#result_diagram .result_score strong {
    font-size: 28px;
}

#result_diagram .result_position {
    margin: 5px 0 0 0;
    padding: 10px;

    color: #fff;
    font-size: 17px;
    text-align: center;
    background: #2f5e77;
}

#result_diagram .result_position strong {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #1a3442;
}

.pt_lang #result_diagram .result_position strong.libertarian_result {
    font-size: 46px;
}

.pt_lang #result_diagram .result_position strong.left_result {
    font-size: 50px;
}

.pt_lang #result_diagram .result_position strong.right_result {
    font-size: 72px;
}

.pt_lang #result_diagram .result_position strong.centrist_result {
    font-size: 50px;
}

.pt_lang #result_diagram .result_position strong.statist_result {
    font-size: 52px;
}

#result_diagram .result_share {
    margin-top: 10px;

    border: 1px solid #675d41;
    background: rgb(246,195,43); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,195,43,1) 0%, rgba(199,158,35,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,195,43,1)), color-stop(100%,rgba(199,158,35,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,195,43,1) 0%,rgba(199,158,35,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246,195,43,1) 0%,rgba(199,158,35,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,195,43,1) 0%,rgba(199,158,35,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(246,195,43,1) 0%,rgba(199,158,35,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c32b', endColorstr='#c79e23',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#result_diagram .result_share p {
    margin: 0;
    padding: 10px;
    float: left;
    width: 86px;
    height: 32px;

    color: #352509;
    text-shadow: 0 1px 0 #e9d18b;
    background: url("/assets/result_share_separator.png") no-repeat left top;
}

#result_diagram .result_share p:first-child {
    background: none;
}

#result_diagram .result_share .twitter,
#result_diagram .result_share .facebook {
    padding: 0;
    width: 106px;
    height: auto;
}

#result_diagram .result_share .twitter a,
#result_diagram .result_share .facebook a {
    display: block;
}

#result_diagram .result_share .twitter a span,
#result_diagram .result_share .facebook a span {
    padding: 10px;
    display: block;
    height: 32px;
    overflow: hidden;
    text-indent: -555px;
}

#result_diagram .result_share .twitter a:hover,
#result_diagram .result_share .facebook a:hover {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(56%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}

#result_diagram .result_share .facebook a span {
    background: url("/assets/result_social_icons.png") no-repeat 7px center;
}

#result_diagram .result_share .twitter a span {
    background: url("/assets/result_social_icons.png") no-repeat -100px center;
}

/* Result content */

#result_content h2, #result_content h3, #result_content h4 {
    margin-bottom: 20px;

    color: #2F5E77;
    font-size: 38px;
}

#result_content h3 {
    font-size: 20px;
}


#result_content h4 {
    margin-bottom: 5px;

    font-size: 18px;
}

#result_content ul {
    margin-bottom: 15px;

    list-style-type: square;
    list-style-position: inside;
}

#result_content ul li {
    margin: 0;

    font-size: 14px;
}

#result_content ul li a {
    color: #000;
    text-decoration: none;
}

#result_content ul li a:hover {
    text-decoration: underline;
}

#result_content #result_banner ul {
    margin: 0;
    list-style: none;
    width: 399;

    background: rgb(52,52,52); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(52,52,52,1) 0%, rgba(128,128,128,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,52,52,1)), color-stop(100%,rgba(128,128,128,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(128,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(128,128,128,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(128,128,128,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(128,128,128,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#808080',GradientType=0 ); /* IE6-9 */
}

#result_content #result_banner ul li {
    padding: 10px 0;
    width: 133px;
}

#result_content #result_banner ul li a {
    margin: 0 5px;
    display: block;
    height: 170px;

    text-decoration: none;
    background: #fff;
    box-shadow: 0 2px 5px #000;
}

#result_content #result_banner ul li .image {
    display: block;
}


#result_content #result_banner ul li .legend {
    margin-top: -53px;
    padding: 5px;
    display: block;
    display: none;
    position: absolute;
    width: 113px;
    height: 40px;

    color: #fff;
    font-size: 12px;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
}

#result_content #result_banner .controls span {
    margin-top: -190px;
    display: block;
    position: absolute;
    width: 20px;
    height: 190px;
    overflow: hidden;
    text-indent: -555px;

    cursor: pointer;
    background: #ccc;
}

#result_content #result_banner .controls .after {
    margin-left: -25px;

    background: #ccc url("/assets/result_banner_arrows.png") no-repeat 3px center;
}

#result_content #result_banner .controls .after:hover {
    background: #bbb url("/assets/result_banner_arrows.png") no-repeat -45px center;
}

#result_content #result_banner .controls .before {
    margin-left: 404px;

    background: #ccc url("/assets/result_banner_arrows.png") no-repeat -21px center;
}

#result_content #result_banner .controls .before:hover {
    background: #bbb url("/assets/result_banner_arrows.png") no-repeat -70px center;
}

#result_content #result_banner .controls .after:active,
#result_content #result_banner .controls .before:active {
    background-color: #ddd;
}

#result_content ul.book_list {
    margin: 0 0 15px -5px;
}

#result_content ul.book_list li {
    margin: 0 0 5px 5px;
    float: left;
    width: 190px;

    list-style: none;
    background: #e6e6e6;
}

#result_content ul.book_list li:hover {
    background: #dadada;
}

#result_content ul.book_list li a {
    display: block;
    padding: 10px;
    height: 75px;
}

#result_content ul.book_list li a:hover {
    text-decoration: none;
}

#result_content ul.book_list li a .image {
    margin-right: 10px;
    display: block;
    float: left;
}

#result_content ul.book_list li a .title {
    display: block;
    margin-bottom: 10px;

    font-size: 13px;
}

#result_content ul.book_list li a .author {
    display: block;

    color: #777;
    font-size: 13px;
}

#result_content .articles, #result_content .books,  #result_content .video {
    margin-left: -30px;
    padding: 4px 0 4px 30px;
}

#result_content .articles {
    background: url("/assets/result_icons.png") no-repeat left top;
}

#result_content .books {
    background: url("/assets/result_icons.png") no-repeat left -30px;
}

#result_content .video {
    background: url("/assets/result_icons.png") no-repeat left -62px;
}

/*
** Footer
*/

#footer_wrapper {
    border-top: 5px solid #2F5E77;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#footer {
    background: #f7f7f7;
}

#footer #partners_info, #footer #institutional_info {
    margin: 0 auto;
    width: 900px;
}

/* Partners info */

#footer #partners_info {
    margin-bottom: 10px;
    padding-top: 10px;
}

#footer #partners_info .partners {
    float: left;
}

#footer #partners_info .partners.sponsors {
    padding-left: 10px;

    border-left: 2px solid #ECECEC;
}

#footer #partners_info .partners h2 {
    margin-bottom: 10px;

    color: #000;
    font-size: 14px;
    font-weight: normal;
}

#footer #partners_info .partners ul {
    list-style: none;
}

#footer #partners_info .partners ul li {
    margin-right: 10px;
    float: left;
    min-height: 100px;

    color: #444;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
}

#footer #partners_info .partners.sponsors ul li {
    width: 120px;
}

#footer #partners_info .partners ul li a {
    color: #444;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
}

#footer #partners_info .partners ul li a:hover {
    color: #000;
}

#footer #partners_info > p {
    margin-top: -10px;
    float: right;
    width: 220px;

    font-size: 12px;
    border-radius: 0 0 5px 5px;
    background: #2f5e77;
}

#footer #partners_info > p a {
    padding: 5px;
    display: block;
}

#footer #partners_info > p:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#footer #partners_info > p a {
    color: #fff;
    text-decoration: none;
}


#footer #partners_page_content {
    display: none;
    background: #2f5e77;
}

#footer #partners_page_content ul {
    margin: 0 auto;
    padding: 20px 0;
    width: 900px;
}

#footer #partners_page_content ul li {
    padding: 3px 0;
    float: left;
    width: 180px;

    list-style: none;
    color: #fff;
    font-size: 12px;
    text-shadow: 0 1px 0 #000;
}

/* Institutional info */

#footer ul#social_network {
    float: right;

    list-style: none;
}

#footer ul#social_network li {
    margin-left: 5px;
    float: left;
}

#footer ul#social_network li a {
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: -555px;

    border-radius: 5px;
    background-color: #2f5e77;
}

#footer ul#social_network li.facebook_item a {
    background: #2f5e77 url("/assets/social_icons.png") no-repeat center 0;
}

#footer ul#social_network li.twitter_item a {
    background: #2f5e77 url("/assets/social_icons.png") no-repeat center -28px;
}

#footer ul#social_network li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#footer #institutional_info_wrapper {
    padding: 10px 0 20px 0;

    background: #ececec;
}

#footer #institutional_info p {
    margin-top: 10px;
    width: 800px;

    color: #8a8a8a;
    font-size: 13px;
}

#footer #institutional_info p:first-child {
    margin-top: 0;
}

#footer #institutional_info p a {
    color: #4e4e4e;
    text-decoration: none;
}

#footer #institutional_info p a:hover {
    text-decoration: underline;
}

#footer #institutional_info p#algorich {
    clear: both;
    width: 900px;

    text-align: right;
}

.alg_logo {
    margin-top: 10px;
    display: block;
    float: right;
    clear: both;

    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
}

.alg_logo.alg_logo_gray {
    color: #444;
}
