* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

html {
    height: 100%;

    background: #fff url("/assets/bg.png");
}

body {
    min-height: 100%;
}

img {
    border: 0;
}

div:after, ol:after, form:after, ul:after, dl:after, li:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

input[type="submit"]::-moz-focus-inner {
    border: 0;
}

.simple_form > div:first-child:after {
    content: none;
}

/* ========================================================================== */

/*
** Content
*/

#content_wrapper {
    margin: 0 auto;
    padding: 100px 0;
    width: 800px;
}

#content {
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    width: 380px;

    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#content h1 {
    margin: -100px 0 0 200px;
    position: absolute;
}

#content h2 {
    margin-bottom: 40px;

    color: #2F5E77;
    font-size: 32px;
    font-weight: normal;
}

#content form .input {
    margin-bottom: 10px;
}

#content form .input label,
#content form .input input {
    display: block;
    float: left;
}

#content form .input label {
    margin: 8px 10px 0 0;
    width: 80px;
    color: #444;
    font-size: 16px;
    text-align: right;
}

#content form .input input {
    padding: 7px;
    width: 250px;
    color: #777;
    font-size: 16px;
    border: 1px solid #787878;
    background: #E6E6E6;
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 32%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230, 230, 230, 1)), color-stop(32%,rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1) 0%,rgba(255, 255, 255, 1) 32%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 1) 0%,rgba(255, 255, 255, 1) 32%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 1) 0%,rgba(255, 255, 255, 1) 32%);
    background: linear-gradient(top, rgba(230, 230, 230, 1) 0%,rgba(255, 255, 255, 1) 32%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 );
}

#content form .input.boolean label {
    margin: 8px 0 0 90px;
    width: auto;
    line-height: 85%;
    text-align: left;
}

#content form .input.boolean label input {
    margin-right: 10px;
    width: auto;
}

#content form .input.field_with_errors input {
    border: 1px solid red;
    background: #E5C7C7;
    background: -moz-linear-gradient(top, #E5C7C7 0%, white 32%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5C7C7), color-stop(32%,white));
    background: -webkit-linear-gradient(top, #E5C7C7 0%,white 32%);
    background: -o-linear-gradient(top, #E5C7C7 0%,white 32%);
    background: -ms-linear-gradient(top, #E5C7C7 0%,white 32%);
    background: linear-gradient(top, #E5C7C7 0%,white 32%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c7c7', endColorstr='#ffffff',GradientType=0 );
}

#content form .input .error {
    margin-left: 90px;
    display: block;
    clear: both;

    color: red;
    font-size: 13px;
}

#content form .alert-error {
    margin-bottom: 20px;
    padding-left: 20px;

    color: red;
    font-size: 13px;
    background: url("/assets/error_icon.png") no-repeat left center;
}

#content .actions {
    margin: 20px -20px 0 -20px;
    padding: 15px 20px;

    border-top: 1px solid #CCC;
    background: #CCC;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(204, 204, 204, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(204, 204, 204, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(204, 204, 204, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(204, 204, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
}

#content .actions .links {
    float: left;
}

#content .actions .links a {
    color: #444;
    font-size: 12px;
    text-shadow: 0 1px 0 #fff;
}

#content .actions .links a:hover {
    color: #000;
}

#content .actions input {
    padding-right: 25px;
    display: block;
    float: right;

    cursor: pointer;
    color: #444;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    border: 0;
    background: transparent url("/assets/actions_arrows_icons.png") no-repeat right top;
}

#content .actions input:hover {
    color: #000;
    background: url("/assets/actions_arrows_icons.png") no-repeat right -37px;
}
