<p>Olá <%= @resource.email %>,</p>

<p>Você fez um pedido para alterar sua senha para acesssar o painel de administração no site do Diagrama de Nolan do EPL.</p>
<p>Você pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez esse pedido, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link e salve uma nova senha.</p>

