<p>Olá <%= @resource.email %>,</p>

<p>Sua conta está bloqueada devido ao grande número de tentativas inválidas de acesso ao painel de administração no site do Diagrama de Nolan do EPL.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

