<p>
  Você acredita que é importante mostrar que as posições políticas vão muito além da briga
  entre direita e esquerda? Então faça uma doação e ajude a divulgar o Diagrama de Nolan.
</p>

<p>
  Envie um e-mail para <a href="mailto:contato@estudantespelaliberdade.com.br">contato@estudantespelaliberdade.com.br</a>.
</p>
