<% statistics = Participant.statistics %>

<style>
  #nolan_report {
    line-height: 0%;
  }

  #nolan_report p {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }
</style>

<div id="nolan_report">
  <h3>Porcentagem de posicionamentos:</h3>

  <p><strong>Libertário</strong>: <%= "#{statistics[:libertarian][:result]}%" %></p>
  <ul id="libertarian_report">
	  <li>Liberdade civil: <%= "#{statistics[:libertarian][:civil_liberty]}%" %></li>
	  <li>Liberdade econômica: <%= "#{statistics[:libertarian][:economic_freedom]}%" %></li>
  </ul>

  <p><strong>Esquerda</strong>: <%= "#{statistics[:left][:result]}%" %></p>
  <ul id="left_report">
	  <li>Liberdade civil: <%= "#{statistics[:left][:civil_liberty]}%" %></li>
	  <li>Liberdade econômica: <%= "#{statistics[:left][:economic_freedom]}%" %></li>
  </ul>

  <p><strong>Centro</strong>: <%= "#{statistics[:centrist][:result]}%" %></p>
  <ul id="centrist_report">
	  <li>Liberdade civil: <%= "#{statistics[:centrist][:civil_liberty]}%" %></li>
	  <li>Liberdade econômica: <%= "#{statistics[:centrist][:economic_freedom]}%" %></li>
  </ul>

  <p><strong>Direita</strong>: <%= "#{statistics[:right][:result]}%" %></p>
  <ul id="right_report">
	  <li>Liberdade civil: <%= "#{statistics[:right][:civil_liberty]}%" %></li>
	  <li>Liberdade econômica: <%= "#{statistics[:right][:economic_freedom]}%" %></li>
  </ul>

  <p><strong>Estatista</strong>: <%= "#{statistics[:statist][:result]}%" %></p>
  <ul id="statist_report">
	  <li>Liberdade civil: <%= "#{statistics[:statist][:civil_liberty]}%" %></li>
	  <li>Liberdade econômica: <%= "#{statistics[:statist][:economic_freedom]}%" %></li>
  </ul>

  <h3>Porcentagem de liberdades:</h3>

  <ul id="liberty">
	  <li><strong>Liberdade civil</strong>: <%= "#{statistics[:total_civil_liberty]}%" %></li>
	  <li><strong>Liberdade econômica</strong>: <%= "#{statistics[:total_economic_freedom]}%" %></li>
  </ul>
</p>
