<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <title>Diagrama De Nolan - Resultado do teste</title>
  <meta content="<%= configuration.keywords %>" name="keywords" />
  <meta content="<%= configuration.description %>" name="description" />
  <meta content='http://algorich.com.br' name='author' />

  <%= yield :fb_meta %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= csrf_meta_tag %>
</head>

<body>

  <script type="text/javascript">
    window.location.href = "<%= configuration.site_url + questionnaire_path %>";
  </script>

</body>
</html>
